<header class="main-header">
    <div class="header-container">
        <img src="logo.svg" alt="Logo" class="logo" />
        <nav class="nav-menu">
            <a href="#">Główna</a>
            <a href="#">Katalog</a>
            <a href="#">Aktualności</a>
        </nav>
    </div>
</header>